*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0d6efd,#5ea8ff);

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.login-box{

width:420px;

background:#fff;

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

animation:fade .8s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-box h2{

text-align:center;

color:#0d6efd;

margin-bottom:10px;

}

.login-box p{

text-align:center;

margin-bottom:30px;

color:#666;

font-size:15px;

}

.input-box{

position:relative;

margin-bottom:20px;

}

.input-box input{

width:100%;

padding:14px 45px;

border:1px solid #ccc;

border-radius:8px;

font-size:15px;

outline:none;

transition:.3s;

}

.input-box input:focus{

border-color:#0d6efd;

}

.input-box i{

position:absolute;

left:15px;

top:50%;

transform:translateY(-50%);

color:#0d6efd;

}

#togglePassword{

position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

color:#666;

}

.options{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

font-size:14px;

}

.options a{

text-decoration:none;

color:#0d6efd;

}

.options a:hover{

text-decoration:underline;

}

.login-btn{

width:100%;

padding:14px;

background:#0d6efd;

border:none;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:#004dc1;

}

.register{

margin-top:25px;

text-align:center;

font-size:15px;

}

.register a{

text-decoration:none;

color:#0d6efd;

font-weight:600;

}

.register a:hover{

text-decoration:underline;

}

.home{

margin-top:18px;

text-align:center;

}

.home a{

text-decoration:none;

color:#444;

font-size:14px;

}

.home a:hover{

color:#0d6efd;

}

@media(max-width:500px){

.login-box{

width:100%;

padding:30px 20px;

}

.options{

flex-direction:column;

gap:10px;

align-items:flex-start;

}

}